START
PUSHN 11
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
DO0:
PUSHG 1
PUSHI 9
INFEQ
JZ ENDDO1
PUSHG 0
STOREG 5
PUSHG 1
STOREG 6
PUSHI 0
STOREG 10
PUSHI 1
STOREG 9
PUSHG 5
STOREG 7
L203:
PUSHG 7
PUSHI 0
SUP
JZ ELSE4
PUSHG 7
PUSHG 6
MOD
STOREG 8
PUSHG 10
PUSHG 8
PUSHG 9
MUL
ADD
STOREG 10
PUSHG 7
PUSHG 6
DIV
STOREG 7
PUSHG 9
PUSHI 10
MUL
STOREG 9
JUMP L203
JUMP ENDIF5
ELSE4:
ENDIF5:
NOP
PUSHG 10
STOREG 4
JUMP RETCONVRT2
RETCONVRT2:
PUSHG 4
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP DO0
ENDDO1:
L106:
NOP
STOP
