START
PUSHN 2
PUSHI 0
STOREG 1
PUSHI 5
STOREG 0
DO0:
PUSHG 0
PUSHI 1
SUPEQ
JZ ENDDO1
PUSHG 1
PUSHG 0
ADD
STOREG 1
PUSHG 0
PUSHI -1
ADD
STOREG 0
JUMP DO0
ENDDO1:
L402:
NOP
PUSHS "Soma descendente: "
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
