START
PUSHN 3
PUSHS "Introduza um numero inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 2
PUSHI 2
STOREG 1
L20:
PUSHG 1
PUSHG 0
PUSHI 2
DIV
INFEQ
PUSHG 2
AND
JZ ELSE0
PUSHG 0
PUSHG 1
MOD
PUSHI 0
EQUAL
JZ ELSE2
PUSHI 0
STOREG 2
JUMP ENDIF3
ELSE2:
ENDIF3:
NOP
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L20
JUMP ENDIF1
ELSE0:
ENDIF1:
NOP
PUSHG 2
JZ ELSE4
PUSHG 0
WRITEI
PUSHS " e um numero primo"
WRITES
WRITELN
JUMP ENDIF5
ELSE4:
PUSHG 0
WRITEI
PUSHS " nao e um numero primo"
WRITES
WRITELN
ENDIF5:
NOP
STOP
