START
PUSHN 3
PUSHS "Introduza um numero inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 2
PUSHI 2
STOREG 1
L200:
PUSHG 1
PUSHG 0
PUSHI 2
DIV
INFEQ
PUSHG 2
AND
JZ ELSE1
PUSHG 0
PUSHG 1
MOD
PUSHI 0
EQUAL
JZ ELSE3
PUSHI 0
STOREG 2
JUMP ENDIF4
ELSE3:
ENDIF4:
NOP
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L200
JUMP ENDIF2
ELSE1:
ENDIF2:
NOP
PUSHG 2
JZ ELSE5
PUSHG 0
WRITEI
PUSHS " e um numero primo"
WRITES
WRITELN
JUMP ENDIF6
ELSE5:
PUSHG 0
WRITEI
PUSHS " nao e um numero primo"
WRITES
WRITELN
ENDIF6:
NOP
STOP
