START
PUSHN 7
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 5
DO0:
PUSHG 5
PUSHI 5
INFEQ
JZ ENDDO1
READ
ATOI
PUSHGP
PUSHI 0
PADD
PUSHG 5
CHECK 1, 5
PUSHI 1
SUB
PADD
SWAP
STORE 0
PUSHG 6
PUSHGP
PUSHI 0
PADD
PUSHG 5
CHECK 1, 5
PUSHI 1
SUB
PADD
LOAD 0
ADD
STOREG 6
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP DO0
ENDDO1:
L30:
NOP
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
WRITELN
STOP
