START
PUSHN 8
PUSHI 1
STOREG 3
DO0:
PUSHG 3
PUSHI 3
INFEQ
JZ ENDDO1
PUSHG 3
PUSHGP
PUSHI 0
PADD
PUSHG 3
CHECK 1, 3
PUSHI 1
SUB
PADD
SWAP
STORE 0
PUSHG 3
PUSHI 1
ADD
STOREG 3
JUMP DO0
ENDDO1:
L102:
NOP
PUSHI 1
STOREG 7
DO4:
PUSHG 7
PUSHI 3
INFEQ
JZ ENDDO5
PUSHGP
PUSHI 0
PADD
PUSHG 7
CHECK 1, 3
PUSHI 1
SUB
PADD
LOAD 0
PUSHI 2
MUL
PUSHGP
PUSHI 0
PADD
PUSHG 7
CHECK 1, 3
PUSHI 1
SUB
PADD
SWAP
STORE 0
PUSHG 7
PUSHI 1
ADD
STOREG 7
JUMP DO4
ENDDO5:
L206:
NOP
JUMP RETDOBRA3
RETDOBRA3:
NOP
PUSHGP
PUSHI 0
PADD
PUSHI 1
CHECK 1, 3
PUSHI 1
SUB
PADD
LOAD 0
WRITEI
PUSHGP
PUSHI 0
PADD
PUSHI 2
CHECK 1, 3
PUSHI 1
SUB
PADD
LOAD 0
WRITEI
PUSHGP
PUSHI 0
PADD
PUSHI 3
CHECK 1, 3
PUSHI 1
SUB
PADD
LOAD 0
WRITEI
WRITELN
STOP
